/* Less file for graphic*/
.donutCard{
	width: 250px;
	height: 330px;
	background: white;
	color : #76ba0a;
	overflow-x : hidden;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	.header {
		width: inherit;
		height: 15%;
		padding-top: 17px;
	}
}

.barsCard{
	width: 778px;
	height: 400px;
	background: white;
	color : #76ba0a;
	overflow-x : hidden;
	display: inline-block;
	margin-right: 15px;
	overflow-y: hidden;
	.header{
		.left {
			width: 55%;
			height: 15%;
			padding-top: 17px;
			float: left;
		}
		.right {
			width: 45%;
			height: 15%;
			padding-top: 20px;
			float: right;
		}
		.labels{
			margin-left: 10px;
			.square{
				width: 15px;
				height: 15px;
				float: left;
				margin-left: 10px;
			}
			.text{
				float: left;
				font-size: 8px;
				color: #333;
				margin-top: 2.5px;
				margin-left: 2px;
			}
		}
	}
	.barContainer{
		width: 640px;
		margin: 0;
		//display: inline-block;
		float: left;
	}
	.sidebar{
		//display: inline-block;
		width: 110px;
		background: #4c4c4c;
		height: 53px;
		float: left;
		font-size: 14px;
		padding-top: 5px;
		margin-top: 27px;
		.title{
			color: white;
			width: 80%;
			margin: 0 auto;
		}
		.subtitle{
			color: white;
			width: 80%;
			margin: 0 auto;
		}
		.rotatedSquare{
			width: 10px;
			height: 10px;
			position: fixed;
			margin-left: -5px;
			margin-top: -3px;
			background: #4c4c4c;
			-ms-transform: rotate(45deg); /* IE 9 */
		    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    transform: rotate(45deg);
		}
	}
	
}

.orangeBg{
	background: #ffb702;
}
.darkGrayBg{
	background: #3b3b3b;
}
.greenBg{
	background: #76ba0a;
}
.blueBg{
	background: #31a9ef;
}

.bottomTitle{
	font-size: 18px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	position: static;
}

.bottomSubTitle{
	font-size: 12px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	color : #333;
}
.greenText{
	color : #76ba0a;
}
.orangeText{
	color : #ffb702;
}
.darkGrayText{
	color : #3b3b3b;
}
.blueText{
	color : #31a9ef;
}
.donutsHeaderLabel{
	font-family: 'Helvetica';
	font-weight: 1000;
	font-size: 16px;
	margin-left: 15px;
	width: 180px;
	color: white;
	display: inline-block;
}
.barsHeaderLabel{
	font-family: 'Helvetica';
	font-weight: 1000;
	font-size: 16px;
	margin-left: 15px;
	width: 400px;
	color: #5b5b5b;
	display: inline-block;
}

.colors{
	color: rgba(0, 102, 209, 0.98);
	color: #469de0;
	color: rgba(176, 23, 23, 0.97);
	color: #ce625a;
}

.donutContainer{
	margin-top: 20px;
	width: 380px;
	margin-left: -63px;
	position: relative;
}
.barsContainer{
	margin-top: 20px;
	margin-left: 20px;
	width: 600px;
	height: 300px;
}

.shadow{
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
}

.overflow-x-hidden{
	overflow-x: hidden;
}

.inlineBlock {
	display: inline-block;
	margin-right: 50px;
}

.bottomTitle{
	font-size: 18px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	position: static;
}

.bottomSubTitle{
	font-size: 12px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	color : #333;
}
.graphic-image{
	position: absolute;
	margin-left: 30px;
	width: 90px;
	height: 90px;
	top: 50px;
	left: 116px;
}
.bottomLabelsWrapper{
	width:80%;
	height: 15px;
	margin: 8px auto;
	font-size: 12px;
}
.bottomLabel{
	.square{
		width: 15px;
		height: 15px;
		float: left;
	}
	.text{
		float: left;
		margin-right: 3px;
		font-size: 7px;
		color: #333;
		margin-top: 2.5px;
		margin-left: 2px;
	}
}

