/* Less file for graphic*/

.greenCard{
	width: 250px;
	height: 330px;
	background: white;
	.header {
		width: inherit;
		height: 15%;
		padding-top: 18px;
	}
	.bgColor{
		background: #76ba0a;
	}
	color : #76ba0a;
	
}
.card{
	width: 250px;
	height: 330px;
	background: white;
	color : #76ba0a;
	overflow-x : hidden;
	display: inline-block;
	margin-right: 15px;
	.header {
		width: inherit;
		height: 15%;
		padding-top: 18px;
	}
}

.orangeBg{
	background: #ffb702;
}
.darkGrayBg{
	background: #3b3b3b;
}
.greenBg{
	background: #76ba0a;
}
.blueBg{
	background: #31a9ef;
}

.bottomTitle{
	font-size: 18px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	position: static;
}

.bottomSubTitle{
	font-size: 12px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	color : #333;
}
.greenText{
	color : #76ba0a;
}
.orangeText{
	color : #ffb702;
}
.darkGrayText{
	color : #3b3b3b;
}
.blueText{
	color : #31a9ef;
}
.headerLabel{
	font-family: 'Helvetica';
	font-weight: 1000;
	font-size: 16px;
	margin-left: 15px;
	width: 180px;
	color: white;
	display: inline-block;
}

.graphContainer{
	margin-top: 20px;
	width: 380px;
	height: 250;
	margin-left: -63px;
	position: relative;
}

.shadow{
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
}

.overflow-x-hidden{
	overflow-x: hidden;
}

.inlineBlock {
	display: inline-block;
	margin-right: 50px;
}

.bottomTitle{
	font-size: 18px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	position: static;
}

.bottomSubTitle{
	font-size: 12px;
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	color : #333;
}
.graphic-image{
	position: absolute;
	margin-left: 30px;
	width: 90px;
	height: 90px;
	top: 50px;
	left: 116px;
}
.bottomLabelsWrapper{
	width:80%;
	height: 15px;
	margin: 8px auto;
	font-size: 12px;
}
.bottomLabel{
	.square{
		width: 15px;
		height: 15px;
		float: left;
	}
	.text{
		float: left;
		margin-right: 3px;
		font-size: 7px;
		color: #333;
		margin-top: 2.5px;
		margin-left: 2px;
	}
}

